<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                <input type="text" hidden class="form-control" id="id">
                <div class="form-group">
                    <label for="client">Nombre del cliente:</label>
                   <input type="text" class="form-control" id="client" [(ngModel)]="newUser.client" name="name" formControlName="client"
                   [ngClass]="{
                    'is-valid': registroForm.get('client')?.touched && registroForm.get('client')?.valid,
                    'is-invalid': registroForm.get('client')?.touched && !registroForm.get('client')?.valid
                  }">
                    <div class="invalid-feedback">
                        <small *ngIf="registroForm.get('client')?.errors?.['required']">Debe indicar el nombre del cliente.</small> <br>
                        <small *ngIf="registroForm.get('client')?.errors?.['minlength']">El nombre del cliente no puede estar vacío</small> <br>
                        <small *ngIf="registroForm.get('client')?.errors?.['maxlength']" >El nombre del cliente no puede tener más de 50 caracteres</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Número de Teléfono:</label>
                    <input type="text" class="form-control " id="phone" [(ngModel)]="newUser.phone" formControlName="phone"
                    [ngClass]="{
                      'is-valid': registroForm.get('phone')?.touched && registroForm.get('phone')?.valid,
                      'is-invalid': registroForm.get('phone')?.touched && !registroForm.get('phone')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small  *ngIf="registroForm.get('phone')?.errors?.['required']">Debe indicar un número de teléfono.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="newUser.email" formControlName="email"
                    [ngClass]="{
                      'is-valid': registroForm.get('email')?.touched && registroForm.get('email')?.valid,
                      'is-invalid': registroForm.get('email')?.touched && !registroForm.get('email')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small  *ngIf="registroForm.get('email')?.errors?.['required']">Debe indicar un email.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="persons">Número de comensales:</label>
                    <input type="number" class="form-control" id="persons" [(ngModel)]="newUser.persons" formControlName="persons"
                    [ngClass]="{
                      'is-valid': registroForm.get('persons')?.touched && registroForm.get('persons')?.valid,
                      'is-invalid': registroForm.get('persons')?.touched && !registroForm.get('persons')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="registroForm.get('persons')?.errors?.['min']">El número de comensales debe ser mayor que 0.</small> <br>
                        <small *ngIf="registroForm.get('persons')?.errors?.['max']">El número de comensales debe ser menor que 50.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes">Nota:</label>
                    <input type="textarea" row="1" class="form-control" id="notes" [(ngModel)]="newUser.notes" formControlName="notes"
                    [ngClass]="{
                      'is-valid': registroForm.get('notes')?.touched && registroForm.get('notes')?.valid,
                      'is-invalid': registroForm.get('notes')?.touched && !registroForm.get('notes')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="registroForm.get('notes')?.errors?.['maxLength']">La longitud de la nota no puede superar los 240 caracteres.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Fecha reserva:</label>
                    <input type="datetime-local" row="1" class="form-control" id="date" [(ngModel)]="newUser.datetimeBooking" formControlName="date"
                    [ngClass]="{
                      'is-valid': registroForm.get('date')?.touched && registroForm.get('date')?.valid,
                      'is-invalid': registroForm.get('date')?.touched && !registroForm.get('date')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="registroForm.get('date')?.errors?.['required']">Debe indicar una fecha para la reserva.</small>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
