<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Enter email"
    [ngClass]="{
      'is-valid': registroForm.get('email')?.touched && registroForm.get('email')?.valid,
      'is-invalid': registroForm.get('email')?.touched && !registroForm.get('email')?.valid
    }">
    <div class="invalid-feedback">
      <small *ngIf="registroForm.get('email')?.errors?.['required']">Debe indicar el email.</small> <br>
      <small *ngIf="registroForm.get('email')?.errors?.['email']">El email debe tener un formato correcto</small> <br>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"  formControlName="password" placeholder="Password"
    [ngClass]="{
      'is-valid': registroForm.get('password')?.touched && registroForm.get('password')?.valid,
      'is-invalid': registroForm.get('password')?.touched && !registroForm.get('password')?.valid
    }">
  </div>
  <div class="invalid-feedback">
    <small *ngIf="registroForm.get('password')?.errors?.['required']">Debe indicar la password.</small> <br>
    <small *ngIf="registroForm.get('password')?.errors?.['minlength']">Debe tener minimo 6 caracteres</small> <br>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button class="btn btn-info" (click)="onClick()">Login with google</button>
